<div class="container-fluid sidenav_wrap">

    <div class="container-fluid username-wrap">
        <p class="h5">Taziamoma</p>
    </div>

    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link active" href="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true">Dashboard</a>
        <a class="nav-link" id="v-pills-profile-tab" href="#v-pills-profile" role="tab"
           aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        <a class="nav-link" id="v-pills-messages-tab" href="#v-pills-messages" role="tab"
           aria-controls="v-pills-messages" aria-selected="false">Messages</a>
        <a class="nav-link" id="v-pills-settings-tab" href="#v-pills-settings" role="tab"
           aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
</div>
